@charset "UTF-8";
body {
  background-color: #02010a;
  font-family: 'Dancing Script', cursive; }

.container {
  margin: 0;
  padding: 0;
  width: 100%; }

.container div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 150px;
  padding: 20px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.header, .imagenCentral, .imagenIzquierda, .imagenDerecha, .contacto, .terminos, .redes-sociales, .derechos {
  width: 100%; }

/*Estilos barra de navegación
*/
.header {
  background-color: #5b7989;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

@-webkit-keyframes slidein {
  0% {
    margin-top: 150%; }
  60% {
    margin-top: -5%; }
  100% {
    margin-top: 0%; } }

@keyframes slidein {
  0% {
    margin-top: 150%; }
  60% {
    margin-top: -5%; }
  100% {
    margin-top: 0%; } }
.header nav {
  font-size: 20px; }

.header h1 {
  text-shadow: 2px 2px #02010a; }

.header ul li {
  display: inline; }

.header ul li a {
  color: white; }

#activo {
  text-decoration: none; }

/*Estilos de Footer
*/
.contacto, .terminos, .redes-sociales, .derechos {
  background-color: #C6d5c5;
  font-size: 1.1em; }

.contacto a, .redes-sociales a {
  color: black; }

.derechos {
  border-bottom-right-radius: 10px; }