body {
	background-color: #02010a;
	font-family: 'Dancing Script', cursive;
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;

}

.container div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 20px;
}

.container 
{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.header, .imagenCentral, .imagenIzquierda, .imagenDerecha, .contacto, .terminos, .redes-sociales, .derechos
{
	width: 100%;
}

/*Estilos barra de navegaci贸n
*/

.header 
{
	background-color: #5b7989;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	display: flex;
	color: white;
	justify-content: space-between;
    align-items: baseline;
}

.header nav
{
	font-size: 20px;
}

.header h1
{
	text-shadow: 2px 2px #02010a;
}

.header ul li
{
	display: inline;
}

.header ul li a
{
	color: white;
}



/*Estilos de Footer
*/

.contacto, .terminos, .redes-sociales, .derechos
{
	background-color: #C6d5c5;
    font-size: 1.1em;
}

.contacto a, .redes-sociales a
{
	color: black
}

.derechos
{
	border-bottom-right-radius: 10px;
}


/*Versi贸n M贸vil
*/

@media (min-width: 320px) 
{
	div.header
	{
		flex-direction: column;
		align-items: center;
	}

	.header, .imagenIzquierda, .imagenDerecha{
		width: 100%;
	}

}

/*Versi贸n Desktop*/

@media (min-width: 900px) 
{
	
	div.header
	{
		flex-direction: row;
	}

	.header 
	{
		width: 100%;

	}
	
	.imagenCentral 
	{
		width: 100%;
	}

	.imagenIzquierda, .imagenDerecha 
	{
		width: 50%;
	}
	.contacto, .terminos, .redes-sociales, .derechos
	{
		width:25%;
	}
	
	.container 
	{
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	.contacto
	{
		border-bottom-left-radius: 10px;
	}

}